*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: roboto, sans-serif;
    overflow-x: hidden;
}

body{
    height: 100vh;
    background-image: linear-gradient(to bottom right, black, #67767E);
}

.header{
    background: #FF5F00;
    display: flex;
    justify-content: center;
    padding: 5px;
    font-size: 12px;
    font-weight: 600;
    color: #1A1A1A;
    border-bottom: 1px solid #1A1A1A;
}

menu{
    width: 100vw;
}

ul {
    list-style: none;
    width: 100%;
    margin: 0;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: end;
    padding: 0 10% 0 0;
}

li{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 10%;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
}

a{
    text-decoration: none;
    color: #FFFFFF;
    position: relative;
    font-weight: 600;
}

a:after {
    bottom: 0;
    content: "";
    display: block;
    height: 1px;
    left: 0;
    position: absolute;
    background: #fff;
    transition: width 0.3s ease 0s;
    width: 0;
}

a:hover:after {
    width: 100%;
    left: 0;
}

li:hover a:hover{
    cursor: pointer;
}

.formContainer{
    width: 54%;
    /*height: 100%;*/
    background: #FFFFFF;
    margin: 10px auto;
    border-radius: 20px;
    padding: 2%;
}

.required:after{
    content: '*';
    font-weight: 1000;
    color: red;
}

.row{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 30px;
}

.items_2>.field__column{
    width: 50%;
}

.items_3>.field__column{
    width: 33%;
}

.items_4>.field__column{
    width: 25%;
}


.label{
    font-weight: 600;
    font-size: 14px;
}

.field__column{
    display: flex;
    flex-direction: column;
    padding-right: 20px;
    align-items: flex-start;
}

.input{
    width: 100%;
    height: 3rem;
    padding: 10px;
    font-size: 18px;
    border-radius: 10px;
    border: 1px solid rgba(1,1,1,0.2);
}

input:focus, textarea:focus, .input_r:focus, input:hover{
    border: 2px solid #FF5F00;
    outline: none;
}

.input_r{
    width: 20px;
    height: 20px;
    border: 1px solid rgba(1,1,1,0.2);
    accent-color: #FF5F00;
    margin: 5px;
}

.label__gender{
    margin-right: 20px;
    font-size: 16px;
}

.gender_row{
    margin-bottom: 20px;
}

.adress{
    margin-bottom: 10px;
}

#phoneNumber, #email{
    width: 100%;
}